.products-filter-container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}

.filter-container {
  width: 15%;
  position: sticky;
  height: fit-content;
  top: 1rem;
  left: 1rem;
}

.products-container {
  width: 85%;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.empty-products {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .filter-container {
    width: 25%;
  }

  .products-container {
    width: 75%;
    margin-left: auto;
  }
}
