.filter-check {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.filter-type {
  margin-top: 1rem;
}

.filter-name {
  margin-bottom: 5px;
}

.filter-heading {
  display: flex;
}

.btn-clear {
  background-color: var(--secondary-color);
  font-size: 0.9rem;
  padding: 5px 10px;
  margin-left: auto;
}

.btn-clear:hover {
  background-color: var(--secondary-hover-color);
}
